<h1> thisi is secret page</h1>

<img src="https://images.unsplash.com/photo-1507010228826-fd02d8c83ddf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=60c658450948b1b568b15cb0f4bacb32&auto=format&fit=crop&w=700&q=60" alt="">
<li>
    <a href="/register">Sign up</a>
</li>
<li>
    <a href="/login">login</a>
</li>
<li>
    <a href="/logout">logout</a>
</li>