<% include partials/header %>

<h1>is is the show template</h1>

<p><%= campground.name %></p>

<img src="<%= campground.image%>" alt="">
<p><%= campground.description %></p>
<% include partials/footer %>